body{
    background-color: blue;
}
.Whattoknow{
    background-color: yellow;
}
.Lionfacts{
    background-color: darkorange;
}
.Theysimbolise{
    background-color: gold;
}
.Theyhave{
    background-color: chartreuse;
}